

body{
 margin: 0!important;
 padding: 0!important;
}
header {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: 0px 0px 20px 0px #3F79A840;
  background-size: cover;
  transition: background-image ease-in-out 1s;
  

}

header::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  /* Adjust the alpha value for the desired darkness */
  z-index: -1;
  /* Place it behind the content */
}


.btn-light,
.btn-light:hover,
.btn-light:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}



.cover-container {
  max-width: 42em;
}



.nav-masthead .nav-link {
  font-size: larger;
  color: rgba(255, 255, 255, 0.855);
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  color: rgba(24, 24, 24, 0.855);
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}


.px-3{

  text-shadow: 0 .05rem .1rem rgb(0, 0, 0);

}
#mainHeading,
#mainText,
#mainBtn
 {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#mainHeading.active,
#mainText.active,
#mainBtn.active
{
    opacity: 1;
}

.input-container{
  padding: 0;

}
input, .form-select,.btn-primary{
min-height: 50px;
min-width: 150px;
}
.card{
min-height: 350px !important  ;
border-radius: 10px!important;
border: 0!important;
}
.card-img-top{
  border-radius: 0!important;
}
.top-programs-section{
  box-shadow: 0px 0px 20px 0px #3F79A840;
  border-radius: 18px;
  max-width: 100%;
}


.blockquote-custom {
  position: relative;
  font-size: 1.1rem;
}

.blockquote-custom-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -25px;
  left: 50px;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}


.form-group {
  margin-bottom: 0;
  border: 1px solid #efefef;
  padding: 15px 15px;
  border-bottom: none; }
  .form-group {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px; }
.form-group {
    border-bottom: 1px solid #efefef;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px; }
 .form-group label {
    font-size: 12px;
    display: block;
    margin-bottom: 0;
    color: #b3b3b3; }
.form-control,.form-select {
  border: none!important;
  padding: 0;
  font-size: 20px;
  border-radius: 0; }
 .form-control:active,.form-control:focus,.form-select:active,.form-select:focus {
    outline: none!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important; }
.searchBtn{
  height: 100%;
}